<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <center>
    <h1>TOPIC MODEL DATA</h1>
    <table border="3px">
         <tr>
            <th>Topic</th>
         </tr>
         
           {% for i in LTO %}
           <tr>
           <td>{{i.topic_name}}</td>
           {% endfor %}
      </tr>
    </table>












    </center>
</body>
</html>